.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* =================================  Maria  ================================= */

body{
  color: white;
  background-color: black;
  font-family: sans-serif;
}

.home {
  text-align: center;
  position: relative;
  top: 233px !important;
  cursor: pointer;
}

.img-cell {
  max-width: 100%;
  height: auto;
}

.comprar {
  background: #548f11;
  color: white;
  border-style: outset;
  border-color: #548f11;
  height: 50px;
  width: 100px;
  font-family: sans-serif;
  text-shadow: none;
  border-radius: 6px;
  position: relative;
  top: -4px;
  width: 85.5%;
}

.sobre {
  text-align: center !important;
}

.text-about {
  text-align: center !important;
  width: 50%;  
  position: relative;
  left: 25%;
}

.title {
  text-align: center;
}

.title-supreme {
  text-align: center !important;
}

.contato {
  text-align: center;
}

.noticias {
  text-align: center;
}